{% extends "base.html.twig" %}

{% block title %}Accueil
{% endblock %}

{% block body %}
	<div class="container mt-4">
		<div class="jumbotron">
			<h1 class="display-4">Bienvenue sur notre application</h1>
			<p class="lead">Démmarage authentification symfony 6.</p>
			<hr class="my-4">
			<p>Pour commencer, rendez-vous sur la page d'inscription pour utiliser l'application.</p>
			<a class="btn btn-outline-success" href="{{ path('security.registration') }}"
			   role="button">Inscription</a>
		</div>

		<div>
			<h2 class="mt-4">demmarage symfony 6</h2>
			<div class="d-flex justify-content-between">

			</div>
		</div>
	</div>
{% endblock %}
